*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Gilroy ☞" ;
}
html,body{
    width:100%;
    height:100%;
}
#bg{
    display: flex;
    width:100%;
    height:100%;
    background-color: white;
}
#left{
    width:20%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1577969181928-69c4e557c99a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-position: 30%;
}
#right{
    position: relative;
    width:80%;
    height:100%;
    background-color: rgb(255, 255, 255);
}
#left #overlay{
    position: relative;
    width:100%;
    height:100%;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.603);
}
#overlay #top{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#top h6{
    color:#FFC400;
    font-weight:300px;
    font-size:13px;
    margin-left:10px;
}
#overlay #bottom{
    position: absolute;
    left:55%;
    top:50%;
    transform: translate(-50%,-50%);
    width:80px;
    height:220px;
    padding:10px 0;
}
#overlay #bottom a{
    display: block;
    text-decoration: none;
    text-align: left;
    color:#FFC400;
    font-weight: 400;
    font: size 11px;
    margin-bottom: 30px;
    width: 300%;
    
    
}
#unik{
    font-family: "Hadaki";
    font-size: 27px;

}
#top i
{
    color: white;
}

#line
{
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 47.5%;
    top: 10%;
}
#header{
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 5%;
    left:40%;
}
#header h1{
    color:#17BF44;
    font-family: "Hadaki";
    letter-spacing: 5px;
    font-size:35px;
}
#header i{
    color:#17BF44;
    margin-left:350px;
}
#imgs{
    display: flex;
    width:100%;
    height:50%;
    position: absolute;
    top:20%;
    left:0%;
    background-color: rgb(149, 186, 228);
}
/*#imgs #img{
    background-image: url(https://images.unsplash.com/photo-1579888944880-d98341245702?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}*/